.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  body{
    background-color: #F5F5F5;
  }
  .common-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
.common_btn{
    color: white;
    font-size: 16px;
    font-weight: 600;
    height: 45px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.text-center{
    text-align: center;
}
/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 160px;
}
.nav-title{
    font-size: 32px;
    font-weight: 700;
}
.nav-btn{
    margin-top: 24px;
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
    border: 2px solid  #006A50;
    background-color: white;
    border-radius: 8px;
    height: 52px;
    width: 116px;
}
.nav-btn:hover{
    background-color: #93dab9;
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 160px;
    margin-top: 20px;
    border-radius: 24px;
    background-color: #C6E4D6;
}
.banner-title{
    margin: 117px 60px;
}
.sub-title{
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
}
.banner-description{
    margin-top: 16px;
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
}
.banner-btn{
    background-color: #006A50;
    color: white;
    font-size: 18px;
    font-weight: 600;
    width: 270px;
    height: 56px;
    border-radius: 8px;
    border: none;
}
.banner-btn:hover{
    background-color: #93dab9;
}
.banner-image{
    margin: 80px 60px 80px 0;
}
/* pillar styles */
.pillars{
    margin: 80px 160px;
}
.pillar-container{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}
.pillar{
    background-color: white;
    width: 302px;
    border-radius: 16px;
    border-color: rgba(14, 14, 14, 0.15);
    padding: 24px;
}

.pillar-subtitle{
    font-size: 20px;
    font-weight: 700;
    color: #0E0E0E;
}
.pillar-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
/* vision styles */
.vision-section{
    margin: 80px 160px;
}
.vision-description{
    margin-top: 24px;
}
.vision{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}
.visions{
    width: 410px;
    border-radius: 16px;
    padding: 32px;
    margin: 32px 0;
}
.vision1{
    background-color: rgba(84, 144, 245, 0.2);
}

.vision2{
    background-color: #C6E4D6;
}
.vision3{
    background-color:#F7EBCF;
}
.vision-btn1{
    background-color: #5490F5;
}
.vision-btn1:hover{
    background-color: #0a2657;
}
.vision-btn2{
    background-color: #09A15C;
}
.vision-btn2:hover{
    background-color: #044e2d;
}
.vision-btn3{
    background-color: #FFC239;
}
.vision-btn3:hover{
    background-color: #c28903;
}

/* quotation section style */
.quotation{
    margin: 80px 160px;
}
.quote-container{
    background-color: white;
    border-radius: 16px;
    padding: 48px 24px;

}
.quote{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    color: rgba(14, 14, 14, 0.8);
}
.quote-title{
    font-size: 20px;
    font-weight: 700;
    color: #0E0E0E;
    margin-bottom: 0;
}
.quote-position{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-top: 0;
}
/* opinion section styles */
.opinion{
    margin: 80px 160px;
}
.opinion-section {
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 20px;
    border-radius: 8px;
    background-color: white;
}
table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background-color: #C6E4D6;
    padding: 24px;
    text-align: left;
    border: 1px solid rgba(14, 14, 14, 0.15);   
}

tbody td {
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}

select {
    padding: 8px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 4px;
    background-color: #C6E4D6;
}

.table-text{
    font-size: 16px;
    font-weight: 600px;
    color: #0E0E0E;
}
/* Recent News section styles */
.recent-news{
    margin: 0 160px;
}
.recent-newses1{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 48px;
    gap: 32px;
    border-radius: 24px;
    margin-bottom: 24px;
}
.news-title{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}
.aljazeera{
    width: 134px;
    height: 40px;
}
.news-image{
    width: 408px;
    height: 306px;
    border-radius: 24px;
}
.time-date{
    display: flex;
    gap: 12px;
}
.date,.time{
   font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.read-more{
    background-color: #006A50;
}
.read-more:hover{
    background-color:#012e22 ;
}
/* Donate section styles */
.donate{
    margin: 0 160px;
}
.donate-section{
    margin-bottom: 24px;
}
.amount{
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
    
}
.Taka{
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    background-color: white;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    width: 243px;
    height: 128px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 32px;
}
.Taka:hover{
    background-color: #C6E4D6;
}
.donate-input{
width: 100%;
height: 64px;
border: none;
margin-bottom: 32px;
}
.btn{
    display: flex;
    justify-content: center;
}
.donate-btn{
    font-size: 18px;
    font-weight: 600;
    width: 151px;
    height: 56px;
    color: white;
    background-color: #006A50;
    border-radius: 8px;
    border: 1px solid rgba(14, 14, 14, 0.1);
    text-align: center;
    margin: 0 auto;
}
.donate-btn:hover{
    background-color:#023f30 ;
}
/* Newsletter Section Styles */
.newsletter{
    margin: 80px 160px;
    
}
.newsletter-container {
    /* height: 395px; */
    padding: 80px 256px;
    text-align: center;
    background-color: #C6E4D6;
    border-radius: 24px;
}
.input-subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}
.newsletter-container input[type="email"] {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

.subscribe-button {
    padding: 10px 20px;
    background-color: #004d00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.subscribe-button:hover {
    background-color: #003300;
}

