.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  body{
    background-color: #F5F5F5;
  }
  .common-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
.common_btn{
    color: white;
    font-size: 16px;
    font-weight: 600;
    height: 45px;
    border-radius: 8px;
    border: none;
}
/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 160px;
}
.nav-title{
    font-size: 32px;
    font-weight: 700;
}
.nav-btn{
    margin-top: 24px;
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
    border: 2px solid  #006A50;
    background-color: white;
    border-radius: 8px;
    height: 52px;
    width: 116px;
}
.nav-btn:hover{
    background-color: #93dab9;
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 160px;
    margin-top: 20px;
    border-radius: 24px;
    background-color: #C6E4D6;
}
.banner-title{
    margin: 117px 60px;
}
.sub-title{
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
}
.banner-description{
    margin-top: 16px;
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
}
.banner-btn{
    background-color: #006A50;
    color: white;
    font-size: 18px;
    font-weight: 600;
    width: 270px;
    height: 56px;
    border-radius: 8px;
    border: none;
}
.banner-btn:hover{
    background-color: #93dab9;
}
.banner-image{
    margin: 80px 60px 80px 0;
}
/* pillar styles */
.pillars{
    margin: 80px 160px;
}
.pillar-container{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}
.pillar{
    background-color: white;
    width: 302px;
    border-radius: 16px;
    border-color: rgba(14, 14, 14, 0.15);
    padding: 24px;
}

.pillar-subtitle{
    font-size: 20px;
    font-weight: 700;
    color: #0E0E0E;
}
.pillar-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
/* vision styles */
.vision-section{
    margin: 80px 160px;
}
.vision-description{
    margin-top: 24px;
}
.vision{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}
.visions{
    width: 410px;
    border-radius: 16px;
    padding: 32px;
    margin: 32px 0;
}
.vision1{
    background-color: rgba(84, 144, 245, 0.2);
}

.vision2{
    background-color: #C6E4D6;
}
.vision3{
    background-color:#F7EBCF;
}
.vision-btn1{
    background-color: #5490F5;
}
.vision-btn1:hover{
    background-color: #0a2657;
}
.vision-btn2{
    background-color: #09A15C;
}
.vision-btn2:hover{
    background-color: #044e2d;
}
.vision-btn3{
    background-color: #FFC239;
}
.vision-btn3:hover{
    background-color: #c28903;
}

/* quotation section style */
.quotation{
    margin: 80px 160px;
}
.quote-container{
    background-color: white;
    border-radius: 16px;
    padding: 48px 24px;

}
.quote{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    color: rgba(14, 14, 14, 0.8);
}
.quote-title{
    font-size: 20px;
    font-weight: 700;
    color: #0E0E0E;
    margin-bottom: 0;
}
.quote-position{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-top: 0;
}